.logo-tablet {
  display: none;
}

@media (max-width: 1023px) {
  .logo-desktop {
    display: none;
  }

  .logo-tablet {
    display: block;
  }
}

@media (max-width: 640px) {
  .logo-tablet {
    width: 32px;
    height: auto;
  }
}
