.container {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  border-radius: var(--border-radius);
  padding: var(--padding);
  background-color: var(--color-main-container);
  backdrop-filter: var(--blur);
}

.container__title {
  display: none;
}

@media (max-width: 1023px) {
  .container {
    gap: var(--gap48);
  }
}

@media (max-width: 640px) {
  .container {
    gap: calc(var(--gap-mobile) * 8);
    padding: calc(var(--gap-mobile) * 4);
  }
}

