.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1023px) {
  .header {
    gap: 135px;
  }

}

@media (max-width: 640px) {
  .header {
    gap: 135px;
  }
}

@media (max-width: 440px) {
  .header {
    gap: calc(var(--gap-mobile) * 4);
  }
}
