.card-list {
  max-width: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--flex-gap) / 4);
  color: var(--color-black);
}

@media (max-width: 1023px) {
  .card-list {
    gap: var(--gap12);
  }
}

@media (max-width: 640px) {
  .card-list {
    grid-template-columns: repeat(3, minmax(98.33px, 128px));
    gap: calc(var(--gap-mobile) * 2);
  }
}
