@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

:root {
  /* ellipse position */
  --ellipse-position: 0%;

  /* colors */
  --color-main: #f5f4f4;
  --color-gray: #707070;
  --color-dark-gray: #393939;
  --color-black: #202020;
  --color-hover: #dadada;
  --color-icon: #545454;
  --forecast-disabled: #a6a6a6;
  --color-main-opacity: hsl(from var(--color-main) h s l / 40%);
  --color-main-container: hsl(from var(--color-gray) h s l / 10%);
  --blur: blur(25px);
  --flex-gap: 64px;
  --gap-mobile: 4px;
  --padding: 32px;
  --border-radius: 8px;

  /* Для медиа-запросов */
  --padding24: calc(var(--gap-mobile) * 6);
  --gap48: calc(var(--gap-mobile) * 12);
  --gap24: calc(var(--gap-mobile) * 6);
  --gap16: calc(var(--gap-mobile) * 4);
  --gap12: calc(var(--gap-mobile) * 3);
  --gap8: calc(var(--gap-mobile) * 2);
  --gap6: calc(var(--gap-mobile) * 1.5);

  /* typography */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-sm: 14px;
  --font-size-m: 16px;
  --font-size-base: 20px;
  --font-size-alt: 22px;
  --font-size-lg: 32px;
  --font-size-xl: 56px;
  --font-size-xxl: 112px;
  --line-height-xs: 12px;
  --line-height-s: 16px;
  --line-height-sm: 16px;
  --line-height-m: 20px;
  --line-height-base: 24px;
  --line-height-alt: 22px;
  --line-height-lg: 32px;
  --line-height-xl: 56px;
  --line-height-xxl: 112px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--padding);
  color: var(--color-main);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: url(./images/background.webp) no-repeat center / cover fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
}

@media (max-width: 1023px) {

  body,
  .container {
    padding: var(--padding24);
  }
}

@media (max-width: 640px) {
  body {
    padding: calc(var(--gap-mobile) * 4);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}
