.logo-tablet {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--color-main-opacity);
  border-radius: var(--border-radius);
  max-width: 506px;
  padding: 12px 16px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.input {
  background-color: transparent;
  color: var(--color-gray);
  width: 100%;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}

.input-wrapper_hovered,
.input-wrapper_focused {
  background-color: var(--color-hover);
}

.input:focus {
  color: var(--color-black);
}

.input-button {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  color: var(--color-icon);
  transition: all 0.3s ease-in-out;
}

.input-button:hover {
  cursor: pointer;
}
@media (hover: hover) {
  .close:hover {
    color: var(--color-black);
  }
}
.close:focus {
  color: var(--color-black);
}
