.slider {
  display: flex;
  flex-direction: column;
  gap: calc(var(--flex-gap) / 2);
}

/* Slider Header */

.slider__menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: calc(var(--flex-gap) / 2);
}

.forecast__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.forecast__item {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  position: relative;
  color: var(--forecast-disabled);
  transition: 0.3s ease;
  transition-property: color;
  user-select: none;
}

.forecast__item button {
  border: none;
  padding: 0;
  background: none;
  color: currentColor;
}

.forecast__item button:hover {
  cursor: pointer;
}

.forecast__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0px;
  border-radius: 8px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

@media (hover: hover) {
  .forecast__item:hover::after {
    transform: scaleX(1);
  }
}

.forecast__item_underline {
  color: currentColor;
}

.forecast__item:not(.forecast__item_underline):hover {
  color: hsl(from var(--forecast-disabled) h s 80%);
}

.forecast__item_underline::after {
  transform: scaleX(1);
}

/* Slider Items */

.slider-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--flex-gap) / 4);
  overflow: hidden;
  mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
}

.menu__card {
  display: flex;

  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  gap: calc(var(--flex-gap) / 4);

  padding: calc(var(--flex-gap) / 4);

  border-radius: var(--border-radius);
  background-color: var(--color-main-opacity);

  color: var(--color-black);
  font-size: 16px;
}

/* Arrows */

.slider__cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--flex-gap) / 2);
}

.slider__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-main-opacity);
  transition: background-color 0.2s ease;
}

.slider__arrow:last-child {
  transform: rotate(180deg);
  position: relative;
  z-index: 1;
}

.slider__arrow:disabled {
  background-color: hsl(from var(--color-main-opacity) h s l / 20%);
}

.slider__arrow:not(:disabled) {
  color: var(--color-icon);
}

@media (hover: hover) {
  .slider__arrow:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }
}

@media (max-width: 1023px) {
  .slider,
  .slider__menu,
  .slider__cards-wrapper {
    gap: var(--gap24);
  }

  .slider-cards {
    gap: var(--gap12);
  }
}

@media (max-width: 886px) {
  .slider,
  .slider__cards-wrapper,
  .slider__menu {
    gap: var(--gap24);
  }
}

@media (max-width: 768px) {
  .menu__card {
    flex-direction: column;
    line-height: 1.25;
  }
}

@media (max-width: 640px) {
  .slider,
  .slider__menu,
  .slider__cards-wrapper {
    gap: calc(var(--gap-mobile) * 4);
  }

  .forecast__title {
    font-size: 16px;
  }

  .forecast__item {
    font-size: 12px;
  }

  .slider-cards {
    gap: calc(var(--gap-mobile) * 2);
  }

  .forecast__item::after {
    height: 1px;
    bottom: -2px;
  }

  .slider__arrow {
    min-width: 40px;
    height: 32px;
  }

  .slider__arrow svg {
    width: 6px;
    height: 12px;
  }

  .menu__card {
    flex-direction: row;
    gap: calc(var(--gap-mobile) * 3);
    padding: calc(var(--gap-mobile) * 3);
    font-size: 12px;
  }

  .menu__card img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 375px) {
  .menu__card {
    flex-direction: column;
  }
}
