@import url('./fonts.css');
@import url('./normalize.css');
@import url('./header.css');
@import url('./weather-today.css');
@import url('./weather-cards.css');
@import url('./slider.css');
@import url('./footer.css');

:root {
  --color-main: #f5f4f4;
  --color-gray: #707070;
  --color-black: #202020;
  --color-hover: #dadada;
  --color-icon: #545454;
  --forecast-disabled: #a6a6a6;
  --color-main-opacity: hsl(from var(--color-main) h s l / 40%);
  --flex-gap: 64px;
  --gap-mobile: 4px;
  --padding: 32px;
  --border-radius: 8px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  margin: 0 auto;
  padding: var(--padding);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-variant-numeric: lining-nums;
  color: var(--color-main);
  background: url(../public/images/background.jpg) no-repeat center/cover fixed;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: var(--padding);
  background-color: hsl(from var(--color-gray) h s l / 10%);
  backdrop-filter: blur(25px);
  border-radius: var(--border-radius);
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--flex-gap));
}

@media (max-width: 1023px) {
  body,
  .container {
    padding: calc(var(--gap-mobile) * 6);
  }

  .container,
  .weather,
  .weather-today {
    gap: calc(var(--gap-mobile) * 12);
  }

  .header {
    gap: 135px;
  }

  
  .logo-desktop {
    display: none;
  }
  .logo-tablet {
    display: block;
  }

  .input-wrapper {
    max-width: none;
    width: auto;
    flex-grow: 1;
  }

  .weather-today {
    flex-direction: column;
  }
  .weather-info {
    gap: calc(var(--gap-mobile) * 6);
  }
  .weather__location,
  .weather__detail {
    gap: calc(var(--gap-mobile) * 1.5);
  }

  .more-details{
    max-width: 513px
  }
  .more-details, .slider-cards{
    gap: calc(var(--gap-mobile) * 3);
  }

  .slider,.slider__menu, .slider__cards-wrapper{
    gap: calc(var(--gap-mobile) * 6);
  }
}

@media (max-width: 768px) {
  .menu__card {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  body,
  .container {
    padding: calc(var(--gap-mobile) * 4);
  }



  .container,
  .weather,
  .weather-today {
    gap: calc(var(--gap-mobile) * 12);
  }

  .header {
    gap: 135px;
  }

.input-wrapper {
    max-width: none;
    width: auto;
    flex-grow: 1;
  }

  .input{
    padding: 8px 40px 8px 12px;
  }
  
  .logo-desktop {
    display: none;
  }
  .logo-tablet {
    display: block;
  }

  

  .weather-today {
    flex-direction: column;
  }
  .weather-info {
    gap: calc(var(--gap-mobile) * 6);
  }
  .weather__location,
  .weather__detail {
    gap: calc(var(--gap-mobile) * 1.5);
  }

  .more-details{
    max-width: 513px
  }
  .more-details, .slider-cards{
    gap: calc(var(--gap-mobile) * 3);
  }

  .slider,.slider__menu, .slider__cards-wrapper{
    gap: calc(var(--gap-mobile) * 6);
  }
}

@media (max-width: 375px) {
 
}
