
.weather-today {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--flex-gap)/4);
  text-align: center;
}

.weather-info{
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  text-align: center;
  flex-grow: 1;
  min-width: 311px;
}

.weather__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--flex-gap)/8);
}

.weather__city {
  font-size: 24px;
}

.weather__temp {
  font-size: 112px;
  font-weight: 700;
  line-height: 1;
}

.info-sky-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--flex-gap)/8);
  margin: 0;
}

.weather__detail {
  display: flex;
  flex-direction: column;
  gap: calc(var(--flex-gap)/8);
}

